{% include "header.html" %}
<!-- main layout -->
<main class="content">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- section blog post -->
    <section id="blog-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- blog post titulo -->
                    <div class="blog-post-content rounded bg-dark shadow-light padding-30">
                        <h1 class="mb-4">{{ post.titulo }}</h1>
                        <ul class="list-inline meta mb-4">
                            <li class="list-inline-item">{{ post.data}}</li>
                            <li class="list-inline-item">Samuel Guedes</li>
                        </ul>
                        <!-- blog post body -->
                        <img src="{{ url_for('static', filename='images/' + post.img) }}" alt="blog-title" class="img-fluid mb-4 blog-image">
                        <div class="post-body">
                        {{ post.body | safe }}  <!-- Use o filtro "safe" para renderizar HTML -->
                        </div>
                    </div>

                         <!-- Formulário de Contato (exibido apenas se exibir_formulario for True) -->
                    {% if exibir_formulario %}
                    <div class="contact-form mt-5">
                        <h2>Formulário de Contato</h2>
                        <form action="{{ url_for('contato') }}" method="post">
                            <div class="form-group">
                                <label for="nome">Nome:</label>
                                <input type="text" class="form-control" id="nome" name="nome" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="mensagem">Mensagem:</label>
                                <textarea class="form-control" id="mensagem" name="mensagem" rows="5" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

{% include "footer.html" %}