<!-- SCRIPTS -->
<script src="./static/css/jquery-1.12.3.min.js"></script>
<script src="./static/css/jquery.easing.min.js"></script>
<script src="./static/css/jquery.waypoints.min.js"></script>
<script src="./static/css/jquery.counterup.min.js"></script>
<script src="./static/css/popper.min.js"></script>
<script src="./static/css/bootstrap.min.js"></script>
<script src="./static/css/isotope.pkgd.min.js"></script>
<script src="./static/css/infinite-scroll.min.js"></script>
<script src="./static/css/imagesloaded.pkgd.min.js"></script>
<script src="./static/css/slick.min.js"></script>
<script src="./static/css/contact.js"></script>
<script src="./static/css/validator.js"></script>
<script src="./static/css/wow.min.js"></script>
<script src="./static/css/morphext.min.js"></script>
<script src="./static/css/parallax.min.js"></script>
<script src="./static/css/jquery.magnific-popup.min.js"></script>
<script src="./static/css/custom.js"></script>


</body></html>